body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }
  section h3,
  .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px; }

section {
  padding: 70px 0 90px;
  z-index: 10; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px; }
  section .personal_header {
    font-size: 13px;
    text-align: left;
    margin-bottom: 30px;
    color: #555; }

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    margin-bottom: 120px; }
    .s_descr_wrap .s_descr::after {
      content: "";
      width: 150px;
      height: 1px;
      display: block;
      margin: auto;
      margin-top: 60px; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/img-preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 320px;
    width: 240px;
    margin-top: -160px;
    margin-left: -120px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 100;
  border: none;
  right: 20px;
  top: 20px;
  background-color: #000; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }
  .sandwich .sw-topper {
    position: relative;
    top: 0;
    width: 34px;
    height: 3px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s; }
  .sandwich .sw-bottom {
    position: relative;
    width: 34px;
    height: 3px;
    top: 7.5px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .sandwich .sw-footer {
    position: relative;
    width: 34px;
    height: 3px;
    top: 15px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 10px;
  transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 7px;
  transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul, .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center; }
    .top_mnu ul li:nth-child(1) a {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .top_mnu ul li:nth-child(2) a {
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .top_mnu ul li:nth-child(3) a {
      -webkit-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .top_mnu ul li:nth-child(4) a {
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .top_mnu ul a {
      color: #FFF;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      position: relative;
      height: 60px; }
      .top_mnu ul a span {
        display: block;
        position: relative;
        top: -40px;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .top_mnu ul a:hover span {
        background-color: rgba(255, 255, 255, 0.08); }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 35px;
      color: #FFF;
      border: 8px solid #FFF;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.8em;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 700px;
      margin-right: 20px;
      margin-left: 20px;
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase;
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s;
      animation-delay: 1.5s; }

.h_opacify {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300;
  color: #FFF; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 30px; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul, .s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {
  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px; }

/*# sourceMappingURL=main.css.map */
